<!DOCTYPE html>
<html lang="es">
    <head>
        <%- include('partials/head-base.ejs', {title: "Turnero Banco AMARTA"})
        %>
    </head>

    <body>
        <header><%- include('partials/header.ejs') %></header>

        <main>
            <div id="proximo-turno">
                <h2 class="title">Proximo Turno</h2>
                <section id="turnos" class="last-visit">
                    <%- include("partials/turno", {turno:turnos[0], atendido:
                    true}) %>
                </section>
            </div>

            <div id="listado">
                <h2 class="title">Ultimos Turnos</h2>
                <section id="turnos" class="last-visit">
                    <% for (let i = 0 ; i < turnos.length; i++) { %> <%-
                    include("partials/turno", {turno:turnos[i], atendido:
                    false}) %> <% } %>
                </section>
            </div>

            <!-- Solo mostrar si el usuario es admin -->
            <div>
                <button class="turnos-btn">
                    <STYLE>A {text-decoration: none;} </STYLE>
                    <a href="/admin/turnos">Nuevo turno</a>
                </button>
                <button onclick="callTurno()" class="llamar-proximo">
                    Llamar proximo turno
                </button>
            </div>
            
        </main>
    </body>

    <script>
        const callTurno = () => {
            document.getElementById("proximo-turno").style.display = "block";
        };
        setInterval("location.reload()",60000);
    </script>
</html>
