/* Overall Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #ebebeb !important;
}

/* Header */

header {
    box-sizing: border-box;
    background-color: #ef3340;
    max-height: 150px;
}

header p {
    box-sizing: border-box;
    text-align: center;
    max-height: 150px;
}

.logo {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: left;
    margin-top: 10px;
}

/* Main */

main {
    width: 90%;
    margin: auto;
}

main h2 {
    margin: 20px 0px;
    text-align: center;
}

article {
    padding: 40px;
    margin: 10px;
    transition-duration: 500ms;
}

.last-visit article:hover,
.offer article:hover,
.all-items article:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.bg-white {
    background-color: white;
}

.product-info {
    border-top: 1px solid #ebebeb;
}

p {
    font-size: 12px;
}

.title {
    font-size: 30px;
    text-align: left;
    margin-left: 2%;
    color: gray;
    font-weight: 500;
}

.title-turno {
    font-size: 65px;
    text-align: left;
    color: gray;
    font-weight: 800;
}
.id-turno {
    font-size: 50px;
    text-align: center;
    color: rgb(7, 7, 7);
    font-weight: 800;
}

.dni-turno {
    font-size: 15px;
    text-align: left;
    margin-left: 2%;
    color: rgb(0, 0, 0);
    font-weight: 400;
}

.email-turno {
    font-size: 15px;
    text-align: left;
    margin-left: 2%;
    color: rgb(0, 0, 0);
    font-weight: 400;
}
.sector-turno {
    font-size: 15px;
    text-align: left;
    margin-left: 2%;
    color: rgb(0, 0, 0);
    font-weight: 400;
}

.name {
    font-size: 19px;
    width: 30%;
}

.id {
    font-size: 25px;
    font-weight: 500;
    text-decoration: none;
    text-decoration-line: none;
    width: 70%;
    color: #39b54a;
    text-align: center;
}

.email {
    font-size: 16px;
    font-weight: 400;
    color: gray;
    display: none;
}

.last-visit article:hover .email,
.offer article:hover .email,
.all-items article:hover .email {
    display: block;
}

.sector {
    font-size: 16px;
    font-weight: 400;
    color: gray;
    display: none;
}

.last-visit article:hover .sector,
.offer article:hover .sector,
.all-items article:hover .sector {
    display: block;
}

.ml-verde {
    color: #39b54a;
    background-color: white;
    border: 1px solid green;
    border-radius: 50%;
    padding: 5px;
}

article:hover .ml-verde {
    transform: rotate(360deg);
    transition: transform 2s;
}

.ml-verde:hover {
    transform: rotate(360deg);
    transition: transform 2s;
}

.ml-azul {
    color: #1065be;
    font-size: 25px;
    margin: 10px;
}

/* Footer */

footer p {
    text-align: center;
    padding: 0px 0px 5px 5px;
}
footer h3 {
    text-align: center;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer article {
    margin: 20px 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#copyright p {
    text-align: left;
}

.hidden {
    display: none;
}

.align-right {
    display: flex;
    justify-content: flex-end;
    position: relative;
    right: 20px;
    top: -18px;
}

/* Login and Register */

form input,
form button,
form select {
    width: 100%;
    padding: 10px;
    margin: 20px 0px;
    border-radius: 5px;
    border: 0px;
    cursor: pointer;
}

.user-profile {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.user-profile input {
    width: 10%;
}

.user-interests {
    display: flex;
    flex-direction: column;
}

.user-info input[type="checkbox"] {
    width: 10%;
}

.submit {
    color: #ffffff;
    background-color: #0044aa;
    transition-duration: 100ms;
}

.submit:hover {
    background-color: #0022aa;
}

.reset {
    color: white;
    background-color: #aa0044;
}

.reset:hover {
    background-color: #cc1155;
}

/* -- Media queries -- */

/* Small screens */

@media (min-width: 361px) {
    .last-visit,
    .offer,
    .all-items {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .logo {
        width: 100px;
    }

    article.bg-white {
        width: 47%;
    }
}

/* Medium - Large screens */

@media (min-width: 768px) {
    .user-info,
    .user-login {
        padding: 0 25%;
    }
}

@media (min-width: 769px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .search {
        width: 60%;
    }

    .header-top {
        width: 70%;
    }

    header p {
        width: 30%;
    }

    nav {
        width: 100%;
    }

    nav li {
        font-size: 15px;
    }

    article.bg-white {
        width: 23%;
    }

    .footer-content {
        flex-direction: row;
        justify-content: center;
    }

    footer article {
        width: 33%;
    }
}

/* Big screens */

@media (min-width: 1440px) {
    header,
    main,
    .footer-content {
        padding: 0 10%;
    }
    nav > ul > li > a {
        font-size: 16px;
    }

    header p {
        font-size: 14px;
    }
}

/* Fix Bootstrap Nav Padding */

.navbar-nav {
    margin-right: auto !important;
    margin-left: auto !important;
}

.atendido-btn {
    width: 100%;
    padding: 10px;
    margin: 0px 0px;
    border-radius: 5px;
    border: 0px;
    cursor: pointer;
    font-weight: 600;
}

.atendido-btn:hover {
    background-color: #4645456b;
    transition: 0.2s;
}

.turnos-btn {
    width: 100%;
    padding: 10px;
    margin: 20px 0px;
    border-radius: 5px;
    border: 0px;
    cursor: pointer;
    font-weight: 600;
}

.turnos-btn:hover {
    background-color: #9999996b;
    transition: 0.2s;
}

.llamar-proximo {
    width: 100%;
    padding: 10px;
    margin: 20px 0px;
    border-radius: 5px;
    border: 0px;
    cursor: pointer;
    font-weight: 600;
    color: #0d6efd;
}

.llamar-proximo:hover {
    background-color: #6e6e6e6b;
    transition: 0.2s;
}

.nav-item {
    font-size: 15px;
    text-align: right;
    align-items: center;
    white-space: nowrap;
    margin-left: 2%;
    margin-bottom: 15px;
    color: rgb(31, 31, 31);
    font-weight: 400;
}

.user-admin {
    font-size: 15px;
    text-align: right;
    white-space: nowrap;
    margin-left: 2%;
    margin-bottom: 15px;
    color: rgb(31, 31, 31);
    font-weight: 400;
}
