<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head-base.ejs', {title: 'Asignar Turno'}) %>
        <link rel="stylesheet" href="/css/stye.css" />
    </head>

    <body>
        <header><%- include('partials/head-asign.ejs') %></header>
        <main>
            <h2 class="title">Nuevo Turno</h2>

            <form
                action="/turnos"
                method="POST"
                enctype="multipart/form-data"
            >
                <label for="name">Nombre Completo del Cliente</label>
                <input type="text" name="name" />
                <label for="dni">DNI Cliente</label>
                <input type="number" name="dni">
                <label for="email">Email Cliente</label>
                <input type="email" name="email">
                <label for="sector">Sector</label><br>
                <select name="sector">

                    <option value="1">Extracciones</option>
                    <option value="2" selected>Depositos</option>
                    <option value="3">Moneda Extranjera</option>
                    <option value="4">Atencion Al Cliente</option>
                    <option value="5">Tarjetas</option>
                    <option value="6">Inversiones</option>
                                    
                </select><br><br>
                
                <button type="submit" class="submit">Asignar Turno</button>
            </form>
        </main>

    </body>
</html>
