<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head-base.ejs', {title: 'Borrando Turno de ' + turno.name}) %>
        <link rel="stylesheet" href="/css/stye.css" />
    </head>

    <body>
        <header><%- include('partials/header.ejs') %></header>

        <main>
            <h2 class="title" style="text-align: left; font-size: 22px">
                ¿Estás seguro de que querés borrar el turno de  <%= turno.name %>?
            </h2>
            <form
                action="/turnos/ <%= turno.id %>?_method=DELETE"
                method="POST"
            >
                <button class="submit" type="submit">Eliminar Turno</button>
            </form>
        </main>
    </body>
</html>
